{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {{lang.nav}} {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}?v=4.1"> {% endblock %}

{% block content %}
    <section class="row">
        <article class="column">
            <header class="title-row">
                <h2>{{lang.data_usage}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()">
            </header>
            <hr class="divider">
            <div class="chart"> <canvas class="canva" id="dataUsageChart"></canvas></div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
        <article class="column">
            <header class="title-row">
                <h2>{{lang.sms_usage}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()">
            </header>
            <hr class="divider">
            <div class="chart"> <canvas id="smsUsageChart"></canvas> </div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
    </section>

    <section class="row">
        <article class="column">
            <header class="title-row">
                <h2>{{lang.data_volume}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshSim()">
            </header>
            <hr class="divider">
            <div class="chart"> <canvas id="volumeDataChart"></canvas> </div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.update_sims.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
        <article class="column">
            <header class="title-row">
                <h2>{{lang.sms_volume}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshSim()">
            </header>
            <hr class="divider">
            <div class="chart"> <canvas id="volumeSMSChart"></canvas> </div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.update_sims.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
    </section>

    <section class="row">
        {% if request.user.user_type == "MATRIZ" %}
        <article class="column" >
            <header class="title-row">
                <h2>{{lang.last_orders}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshOrders()">
            </header>
            <hr class="divider">
            <div class="table" >
                <table id="orderTable">
                    <thead>
                        <tr>
                            <th onclick="ordenarTabla(0, 'date', this)">{{lang.order_date}}<span class="flecha"></span></th>
                            <th>{{lang.order_id}}</th>
                            <th>{{lang.order_type}}</th>
                            <th onclick="ordenarTabla(3, 'numero', this)">{{lang.order_quant}}<span class="flecha"></span></th>
                            <th onclick="ordenarTabla(4, 'texto', this)">{{lang.order_status_hd}}<span class="flecha"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders.all_orders %}
                        <tr data-order="{{order.order_number}}">
                            <td>{{ order.order_date|date:"Y/m/d" }}</td>
                            <td>{{ order.order_number }}</td>
                            <td>{% if order.order_type == "ADDITIONAL_ORDER" %} SIM {% else %} {{ order.order_type }}  {% endif %}</td>
                            <td>{{ order.invoice_amount }} {{ order.currency }}</td>
                            <td>{{ order.order_status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.update_orders.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
        {% endif %}
        <article class="column">
            <header class="title-row">
                <h2>{{lang.actual_status}}</h2>
                <img class="refresh-btn clickable" src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshSim()">
            </header>
            <hr class="divider">
            <div class="chart"> <canvas id="statusChart"></canvas> </div>
            <hr class="divider">
            <footer><h4>{{lang.last_update}} {{all_comands.update_sims.last_run|date:"d/m/Y H:i:s"}}</h4></footer>
        </article>
    </section>

    <aside id="topDataUsage"> </aside>
    <aside id="topSMSUsage"></aside>
{% endblock %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include 'includes/dashboard_scripts.html' %}
    <script src="{% static 'js/pages/dashboard.js' %}"></script>
    <script src="{%static 'js/pages/layouts/refresh.js' %}"></script>

{% endblock %}
