{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Mis Sims {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static 'styles/get_sims.css' %}?v=4.1"> 
{% endblock %}


{% block content %}

<div id="custom-pagination" class="custom-pagination">
    <div id="showed-rows" class="showed-rows">
        <span>Mostrar</span>
        <select id="rowsPerPage">
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>
        <span>por página</span>
    </div>

    <div class="filter">
            <select id="activeFilter">
                <option value="Distribuidor">Distribuidor</option>
                <option value="Etiqueta">Etiqueta</option>
                <option value="ICCID" selected>ICCID</option>
                <option value="Revendedor">Revendedor</option>
            </select>
        <input type="text" id="inputFilter">
        <button id="uploadTrigger" class="config-btn">Importar ICCIDs</button>
        <button id="exportBtn" class="config-btn" onclick="exportarCSV()">Exportar SIMs</button>
        <input type="file" id="iccidFile" accept=".txt" style="display: none;">
        </div>
    </div>
</div>

<div class="SIM-Container">
    <div class="table">
        <table id="orderTable">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" class="rowAllCheckbox"></th>
                    <th id="statusHeader">Estado</th>
                    <th>Session</th>
                    <th>ICCID</th>
                    <th>IMEI</th>
                    <th>Etiqueta</th>
                    <th onclick="ordenarTabla(6, 'numero', this)">MB disponibles<span class="flecha"></span></th>
                </tr>
            </thead>    
            <tbody id="simTbody">
                {% for row in rows %}
                <tr 
                data-etiqueta="{{ row.label|lower }}" 
                data-enable="{{ row.isEnable|lower }}" 
                data-iccid="{{ row.iccid }}"
                data-distribuidor="{{ row.distribuidor }}"
                data-revendedor="{{ row.revendedor }}"
                data-cliente="{{ row.cliente }}"
                data-whatsapp="{{ row.whatsapp }}"
                data-vehicle="{{ row.vehicle }}"
                >
                    <td><input type="checkbox" class="rowCheckbox" data-iccid="{{ row.iccid }}" data-label="{{row.label}}"></td>
                    <td>
                        {% if row.isEnable == "Enabled" %}
                            <span title="Activado">✅</span>
                        {% elif row.isEnable == "Disabled" %}
                            <span title="Desactivado">❌</span>
                        {% else %}
                            {{ row.isEnable }}
                        {% endif %}
                    </td>
                    <td>
                        {% if row.status == "ONLINE" %}
                            <span class="status-circle online" title="En línea"></span>
                        {% elif row.status == "OFFLINE" %}
                            <span class="status-circle offline" title="Fuera de línea"></span>
                        {% elif row.status == "ATTACHED" %}
                            <span class="status-circle attached" title="Conectada"></span>
                        {% else %}
                            <span class="status-circle" style="background-color: gray;" title="{{ row.status }}"></span>
                        {% endif %}
                    </td>
                    <td>{{ row.iccid }}</td>
                    <td>{{ row.imei }}</td>
                    <td>{{row.label}}</td>
                    <td>{{row.volume|floatformat:2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="controls">
        <div id="refresh-table" class="refresh-table">
            <button id="refreshBtn" onclick="refreshSim()">Refrescar</button>
        </div>
        <div id="pagination-controls" class="pagination-controls">
            <button id="prevBtn">Anterior</button>
            <span id="pageInfo"></span>
            <button id="nextBtn">Siguiente</button>
        </div>
    </div>
</div>

<div id="bottomBar" class="bottom-bar" style="display: none;">
    <div id="bottomBarInfo">
        <span><span id="selectedCount">0</span> SIM(s) seleccionadas</span>
        <div class="config-row">
            <button class="config-btn" id="topUpSims">Recargar SIMs</button>
            <button class="config-btn" id="sendSims" onclick="toggleAssignationForm()">Asignar SIMs</button>
        </div>
    </div>
    <div id="configSimBtn">
        <div class="status">
            <span>Estado de la SIM:</span>
            <div class="button-row">
                <button id="activateSIMStatus">Activar</button>
                <button id="deactivateSIMStatus">Desactivar</button>
            </div>
        </div>
        <div class="IMEI">
            <span>Bloqueo de IMEI:</span>
            <div class="button-row">
                <button id="activateSIMImei">Activar</button>
                <button id="deactivateSIMImei">Desactivar</button>
            </div>
        </div>
        <div class="topup">
            <span>Recarga automática:</span>
            <div class="button-row">
                <button id="activateSIMTopUp">Activar</button>
                <button id="deactivateSIMTopUp">Desactivar</button>
            </div>
        </div>
    </div>
</div>

<form id="simStatusForm" method="POST" action="{% url 'update_sim_state' %}" style="display: none;">
    <input type="hidden" name="status" id="formStatus">
    <input type="hidden" name="iccids" id="formICCIDs">
    <input type="hidden" name="labels" id="formLabels">
    {% csrf_token %}
</form>

<div id="assignation-div" class="assignation-div" style="display: none;">
    <form id="assignSIMsForm" method="POST" action="{% url 'assign_sims' %}">
        {% csrf_token %}
        <span> Selecciona un usuario: </span>
        <select name="user_id" id="assignForm">
            {% regroup linked_users by user_type as grouped_users %}
            {% for group in grouped_users %}
                <optgroup label="{{ group.grouper }}">
                {% for user in group.list %}
                    <option value="{{ user.user.id }}">{{ user.company }}</option>
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <div id="inputs-sims"></div>
        <div class="assignBtn">
            <button type="button" onclick="toggleAssignationForm()">Cancelar</button>
            <button type="submit">Envíar</button>
        </div>
    </form>
</div>

{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="{% static 'js/pages/get_sims.js' %}"></script> 
<script src="{% static 'js/pages/layouts/refresh.js' %}"></script>
{% endblock %}