{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi&oacute;n</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{% static 'styles/layouts/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}?v=1.0" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/logo_login.webp' %}" alt="logo">
    </div>
    <div class="login_form">
        <form method="POST">
            {% csrf_token %}
            <h1>Iniciar sesi&oacute;n</h1>
            {% if error %}
            <p class="login_error">{{ error }}</p>
            {% endif %}
            <div class="username_input">
                {{form.username}}
            </div>
            <div class="password_input">
                {{form.password}}
                <img id="toggleIcon" class="toggle_img" src="{% static 'images/view.webp' %}" alt="ver" data-view="{% static 'images/view.webp' %}" data-close="{% static 'images/close.webp' %}" >
            </div>
            <button class="login_btn">
                INICIAR SESI&Oacute;N
            </button>
            <p class="login_hint">
                Utiliza el mismo correo y contrase&ntilde;a de tu plataforma de Rastreo que obtuviste al darte de alta por primera vez
            </p>
        </form>
    </div>
</body>
</html>

<script src="{% static 'js/pages/login.js' %}"></script>
