{% extends "layouts/base.html" %}
{% load static %}
{% load tz %}

{% block title %} Detalles de SIM {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static 'styles/sim_details.css' %}?v=1.1"> 
{% endblock %}


{% block content %}

<div class="detail-block">
    <div class="sim-details">
        <div class="title-row">
            <img src="{% static 'images/return.png' %}" alt="Regresar" title="Regresar"
                class="return clickable" onclick="window.history.back()">
            <h1>Detalles de la SIM</h1>
        </div>
        <div class="columns">

            <div class="column">
                <div class="row">
                    <span class="label">ICCID:</span>
                    <span>{{sim.iccid}}</span>
                </div>
                <div class="row">
                    <span class="label">IMSI:</span>
                    <span>{{sim.imsi}}</span>
                </div>
                <div class="row">
                    <span class="label">MSISDN:</span>
                    <span>{{sim.msisdn}}</span>
                </div>
            </div>

            <div class="column">
                <div class="row">
                    <span class="label">Etiqueta:</span>
                    <span>{{sim.label}}</span>
                    <img id="edit-label" src="{% static 'images/edit.png' %} " class="edit-label clickable" alt="editar" onclick="labelFormFunc()">
                </div>
                <div class="row">
                    <span class="label">Fecha de finalización:</span>
                    <span>{{data_quota.expiry_date|date:"d/m/Y"}}</span>
                </div>
                <div class="row">
                    <button onclick="goTo(this, true)" data-url="https://www.google.com/maps?q={{ location.latitude }},{{ location.longitude }}" 
                    style="pointer-events: {% if not location.latitude or not location.longitude %}none{% else %}auto{% endif %}; opacity: {% if not location.latitude or not location.longitude %}0.5{% else %}1{% endif %};">
                        {% timezone "America/Mexico_City" %}
                        {% if not location.latitude or not location.longitude %}Ubicación no disponible{% else %}Ver ubicación - {{location.sample_time|date:"d/m/Y H:i a"}}{% endif %}
                        {% endtimezone %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="network-details">
        <div class="title-row-network">
            <h1>Datos de red</h1>
        </div>
        
        <div class="columns">
            <div class="column">
                <div class="row">
                    <span class="label">Estado de la SIM:</span>
                    <span>{% if sim.status == "Enabled" %} Activado{% else %} Desactivado{% endif %}</span>
                </div>
                <div class="row">
                    <span class="label">Session:</span>
                    {% if status.status == "ONLINE" %}
                    <span>En línea</span>
                    <span class="status-circle online"></span>
                    {% elif status.status == "ATTACHED" %}
                    <span>Conectada</span>
                    <span class="status-circle attached"></span>
                    {% elif status.status == "OFFLINE" %}
                    <span>Fuera de línea</span>
                    <span class="status-circle offline"></span>
                    {% else %}
                    <span>{{status.status}}</span>
                    <span class="status-circle" style="background-color: gray;"></span>
                    {% endif %}
                </div>
                <div class="row">
                    <span class="label">IMEI:</span>
                    <span>{{sim.imei}}</span>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <span class="label">Dirección IP:</span>
                    <span>{{sim.ip_address}}</span>
                </div>
                <div class="row">
                    <span class="label">Operador/País:</span>
                    <span>{{status.operator_name}}/{{status.country_name}}</span>
                </div>
                <div class="row">
                    <span class="label">Tecnología de acceso:</span>
                    <span>{{status.rat_type}}</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">

    <div class="assignation-details">
        <div class="title-row-assignation">
            <h1>Asignación</h1>
        </div>

        <div class="columns">
            <div class="column">
                <div class="row-assignation">
                    <span><b>Distribuidor:</b> {{assignation.assigned_to_distribuidor.first_name}} - {{assignation.assigned_to_distribuidor.company}}</span>
                    <span><b>Revendedor:</b> {{assignation.assigned_to_revendedor.first_name}} - {{assignation.assigned_to_revendedor.company}}</span>
                    <span><b>Cliente:</b> {{assignation.assigned_to_usuario_final.first_name}} - {{assignation.assigned_to_usuario_final.company}}</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row-usage">
    <div class="column-usage">
        <div class="title-usage">
            <h2>MB disponibles</h2>
            <img src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshDataQuota()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="dataUsedChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>Ultima actualización: {{all_comands.data_quota.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
    <div class="column-usage">
        <div class="title-usage">
            <h2>Uso de MB mensual</h2>
            <img src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="monthlyDataUsageChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>Ultima actualización: {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
</div>

<div class="row-usage">
    <div class="column-usage">
        <div class="title-usage">
            <h2>SMS disponibles</h2>
            <img src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshSMSQuota()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="smsUsedChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>Ultima actualización: {{all_comands.sms_quota.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
    <div class="column-usage">
        <div class="title-usage">
            <h2>Uso de SMS mensual</h2>
            <img src="{% static 'images/refresh.png' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="monthlySmsUsageChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>Ultima actualización: {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
</div>

<form method="POST" action="{% url 'send_sms' sim.iccid %}">
    <div class="sms-command">
        {% csrf_token %}
        <span>Dirección de origen</span>
        <input type="text" name="source" placeholder="Dirección de origen" value="{{sim.iccid}}">
        <span>Comandos</span>
        <textarea name="command" rows="8" cols="50" placeholder="Escribe un comando por línea"></textarea>
        <button type="submit">Envíar</button>
    </div>
</form>

<div style="margin: 0 0 2rem;">
    <div class="sms-details">
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Enviado</th>
                    <th>Finalizado</th>
                    <th>Origen</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>
                {% for sms in sms_list %}
                <tr>
                    <td>{% if sms.sms_type_description == 'MO' %} Recibido {% else %} Enviado {% endif %} </td>
                    <td>{% if sms.status_description == 'DELIVERED' %}✅{% elif sms.status_description == 'DELIVERY ATTEMPT PENDING' %}🔜{% else %}❌{% endif %}</td>
                    <td>{{sms.delivery_date|date:"d/m/Y"}}</td>
                    <td>{{sms.expiry_date|date:"d/m/Y"}}</td>
                    <td>{{sms.source_address}}</td>
                    <td>{{sms.payload}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button onclick="refreshSMS('{{sim.iccid}}')">Refrescar</button>
</div>


<div id="overlay" style="
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
    "></div>

<form method="POST" action="{% url 'update_label' sim.iccid %}">
    {% csrf_token %}
    <div id=label-form class="label-form" style="display: none;">
        <div id="drag"></div>
        <div id="content-form">
            <input type="text" name="client_name" placeholder="Nombre del cliente">
            <input type="text" name="company_name" placeholder="Empresa">
            <input type="date" name="buy_date">
            <span>Información del vehículo</span>
            <div class="half-row">
                <input type="text" name="brand" placeholder="Marca">
                <input type="text" name="model" placeholder="Modelo">
            </div>
            <div class="half-row">
                <input type="text" name="year" placeholder="Año">
                <input type="text" name="color" placeholder="Color">
            </div>
            <input type="text" name="unit_number" placeholder="Número económico">

            <div class="row-btn">
                <button type="button" id="cancel-btn" onclick="labelFormFunc()">Cancelar</button>
                <button type="submit" id="guardar-btn">Guardar</button>
            </div>
        </div>
    </div>
    <input type="text" name="status" value="{{sim.status}}" style="display: none">
</form>



{% endblock %}


{% block scripts %}

    {{ chart_data.data_volume|json_script:"data-volume" }}
    {{ chart_data.data_used|json_script:"data-used" }}
    {{ chart_data.sms_volume|json_script:"sms-volume" }}
    {{ chart_data.sms_used|json_script:"sms-used" }}
    {{ chart_data.monthly_use|json_script:"monthly-use" }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/charts/sim_data_used.js' %}"></script>
    <script src="{% static 'js/charts/monthly_data_usage.js' %}"></script>
    <script src="{% static 'js/charts/sim_sms_used.js' %}"></script>
    <script src="{% static 'js/charts/monthly_sms_usage.js' %}"></script>
    <script src="{% static 'js/pages/sim_details.js' %}"></script>
    <script src="{%static 'js/pages/layouts/refresh.js' %}"></script>
    
{% endblock %}