{% extends "layouts/base.html" %}
{% load static %}
{% load tz %}

{% block title %} {{lang.nav}} {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{% static 'styles/sim_details.css' %}?v=1.1"> 
{% endblock %}


{% block content %}

<section class="card detail-block">
    <article class="sim-details">
        <header class="title-row">
            <h1>{{lang.header.sim}}</h1>
        </header>
        <article class="columns">
            <div class="column">
                <div class="row">
                    <span class="label">ICCID:</span>
                    <span>{{sim.iccid}}</span>
                </div>
                <div class="row">
                    <span class="label">IMSI:</span>
                    <span>{{sim.imsi}}</span>
                </div>
                <div class="row">
                    <span class="label">MSISDN:</span>
                    <span>{{sim.msisdn}}</span>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <span class="label">{{lang.details.label}}</span>
                    <span>{{sim.label}}</span>
                    <img id="edit-label" src="{% static 'images/edit.png' %} " class="edit-label clickable" alt="editar" onclick="labelFormFunc()">
                </div>
                <div class="row">
                    <span class="label">{{lang.details.end_date}}</span>
                    <span>{{data_quota.expiry_date|date:"d/m/Y"}}</span>
                </div>
                <div class="row">
                    <button class="location-btn" id="locationBtn" onclick="goTo(this, true)" data-iccid="{{ sim.iccid }}" disabled style="pointer-events: none; opacity: 0.5;">
                        Cargando ubicación...
                    </button>
                </div>
            </div>
        </article>
    </article>

    <hr class="divider">

    <article class="network-details">
        <header class="title-row">
            <h1>{{lang.header.network}}</h1>
        </header>
        
        <article class="columns">
            <div class="column">
                <div class="row">
                    <span class="label">{{lang.details.state}}</span>
                    <span>{% if sim.status == "Enabled" %}{{lang.details.states_opt.0}}{% else %}{{lang.details.states_opt.1}}{% endif %}</span>
                </div>
                <div class="row">
                    <span class="label">{{lang.details.session}}:</span>
                    {% if status.status == "ONLINE" %}
                    <span>{{lang.details.session_opt.0}}</span>
                    <span class="status-circle online"></span>
                    {% elif status.status == "ATTACHED" %}
                    <span>{{lang.details.session_opt.1}}</span>
                    <span class="status-circle attached"></span>
                    {% elif status.status == "OFFLINE" %}
                    <span>{{lang.details.session_opt.2}}</span>
                    <span class="status-circle offline"></span>
                    {% else %}
                    <span>{{status.status}}</span>
                    <span class="status-circle" style="background-color: gray;"></span>
                    {% endif %}
                </div>
                <div class="row">
                    <span class="label">IMEI:</span>
                    <span>{{sim.imei}}</span>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <span class="label">{{lang.details.IP}}</span>
                    <span>{{sim.ip_address}}</span>
                </div>
                <div class="row">
                    <span class="label">{{lang.details.operator}}</span>
                    <span>{{status.operator_name}}/{{status.country_name}}</span>
                </div>
                <div class="row">
                    <span class="label">{{lang.details.access}}</span>
                    <span>{{status.rat_type}}</span>
                </div>
            </div>
        </article>
    </article>

    <hr class="divider">

    <article class="assignation-details">
        <header class="title-row">
            <h1>{{lang.header.assignation}}</h1>
        </header>

        <article class="columns">
            <div class="column">
                <div class="row-assignation">
                    <span><b>{{lang.details.assign.0}}:</b> {{assignation.distribuidor.first_name}} - {{assignation.distribuidor.company}}</span>
                    <span><b>{{lang.details.assign.1}}:</b> {{assignation.revendedor.first_name}} - {{assignation.revendedor.company}}</span>
                    <span><b>{{lang.details.assign.2}}:</b> {{cliente.first_name}} - {{cliente.company}}</span>
                </div>
            </div>
        </article>

    </article>
</section>

<div class="row-usage">
    <div class="column-usage">
        <div class="title-usage">
            <h2>{{lang.header.data}}</h2>
            <img src="{% static 'images/refresh.webp' %}" alt="Refrescar" title="refrescar" onclick="refreshDataQuota()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="dataUsedChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>{{lang.charts.last_update}} {{all_comands.data_quota.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
    <div class="column-usage">
        <div class="title-usage">
            <h2>{{lang.header.data_usage}}</h2>
            <img src="{% static 'images/refresh.webp' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="monthlyDataUsageChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>{{lang.charts.last_update}} {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
</div>

<div class="row-usage">
    <div class="column-usage">
        <div class="title-usage">
            <h2>{{lang.header.sms}}</h2>
            <img src="{% static 'images/refresh.webp' %}" alt="Refrescar" title="refrescar" onclick="refreshSMSQuota()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="smsUsedChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>{{lang.charts.last_update}} {{all_comands.sms_quota.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
    <div class="column-usage">
        <div class="title-usage">
            <h2>{{lang.header.sms_usage}}</h2>
            <img src="{% static 'images/refresh.webp' %}" alt="Refrescar" title="refrescar" onclick="refreshMonthlyUsage()" class="refresh-btn clickable">
        </div>
        <hr class="divider-chart">
        <div class="chart"> <canvas id="monthlySmsUsageChart"></canvas> </div>
        <hr class="divider-chart">
        <h4>{{lang.charts.last_update}} {{all_comands.monthly_usage.last_run|date:"d/m/Y H:i:s"}}</h4>
    </div>
</div>

<form method="POST" action="{% url 'send_sms' sim.iccid %}" style="width: 100%; display: flex; justify-content: center;">
    <div class="card sms-command">
        {% csrf_token %}
        <span>{{lang.sms.source}}</span>
        <input type="text" name="source" placeholder="Dirección de origen" value="{{sim.iccid}}">
        <span>{{lang.sms.commands}}</span>
        <textarea name="command" rows="8" cols="50" placeholder="Escribe un comando por línea"></textarea>
        <button type="submit">{{lang.sms.btn_send}}</button>
    </div>
</form>

<div class="card sms-details">
    <div class="table-container">
        <table>
        <thead>
            <tr>
                <th>{{lang.sms.table.type}}</th>
                <th>{{lang.sms.table.state}}</th>
                <th>{{lang.sms.table.sent}}</th>
                <th>{{lang.sms.table.end}}</th>
                <th>{{lang.sms.table.source}}</th>
                <th>{{lang.sms.table.message}}</th>
            </tr>
        </thead>
        <tbody>
            {% for sms in sms_list %}
            <tr>
                {% if request.user.preferred_lang == 'es' %}
                <td>{% if sms.sms_type_description == 'MO' %} Recibido {% else %} Enviado {% endif %} </td>
                {% else %}
                <td>{{sms.sms_type_description}}</td>
                {% endif %}
                <td>{% if sms.status_description == 'DELIVERED' %}✅{% elif sms.status_description == 'DELIVERY ATTEMPT PENDING' %}🔜{% else %}❌{% endif %}</td>
                <td>{{sms.delivery_date|date:"d/m/Y"}}</td>
                <td>{{sms.expiry_date|date:"d/m/Y"}}</td>
                <td>{{sms.source_address}}</td>
                <td>{{sms.payload}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <button onclick="refreshSMS('{{sim.iccid}}')">{{lang.sms.table.btn_refresh}}</button>
</div>


<div id="overlay" style="
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
    "></div>

<form method="POST" action="{% url 'update_label' sim.iccid %}" style="width: 100%;">
    {% csrf_token %}
    <div id=label-form class="label-form" style="display: none;">
        <div id="drag"></div>
        <div id="content-form">
            <div class="row-complete">
                <input type="text" name="client_name" placeholder="Nombre del cliente" {% if client %} value="{{client.first_name}} {{client.last_name}}" {% endif %}>
            </div>
            <div class="row-complete">
                <input type="text" name="company_name" placeholder="Empresa" value="{{client.company}}">
            </div>
            <div class="row-complete">
                <input type="date" name="buy_date">
            </div>
            <span>Información del vehículo</span>
            <div class="half-row">
                <input type="text" name="brand" placeholder="Marca" value="{{vehicle.brand}}">
                <input type="text" name="model" placeholder="Modelo" value="{{vehicle.model}}">
            </div>
            <div class="half-row">
                <input type="text" name="year" placeholder="Año" value="{{vehicle.year}}">
                <input type="text" name="color" placeholder="Color" value="{{vehicle.color}}">
            </div>
            <div class="row-complete">
                <input type="text" name="unit_number" placeholder="Número económico" value="{{vehicle.unit_number}}">
            </div>

            <div class="row-btn">
                <button type="button" id="cancel-btn" onclick="labelFormFunc()">Cancelar</button>
                <button type="submit" id="guardar-btn">Guardar</button>
            </div>
        </div>
    </div>
    <input type="text" name="status" value="{{sim.status}}" style="display: none">
</form>



{% endblock %}


{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include 'includes/sim_details_scripts.html' %}
    <script src="{% static 'js/pages/sim_details.js' %}"></script>
    <script src="{%static 'js/pages/layouts/refresh.js' %}"></script>
    
{% endblock %}