{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {{lang.nav}} {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/user_details.css' %}?v=2.3"> {% endblock %}

{% block content %}

<form method="post" action="{% url 'update_user' user.user_id %}" id="editForm" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    {% csrf_token %}
    <div class="details-container">
        <div class="personal-info">
            <div class="title-row">
                <img src="{% static 'images/return.png' %}" alt="Regresar" title="Regresar"
                class="return clickable"
                onclick="history.back()">
                <h1>{{lang.headers.details}}</h1>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="row">
                        <span class="label">{{lang.details.name}}</span>
                        <input type="text" name="first_name" value="{{ user.first_name }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.surname}}</span>
                        <input type="text" name="last_name" value="{{ user.last_name }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.company}}</span>
                        <input type="text" name="company" value="{{ user.company }}" class="read-only" readonly>
                    </div>
                </div>
                <div class="column">
                    <div class="row">
                        <span class="label">E-mail:</span>
                        <input type="email" name="email" value="{{ user.email }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.phone}}</span>
                        <input type="text" name="phone_number" value="{{ user.phone_number }}" class="read-only" readonly>
                    </div>
                    {% if user.rfc %}
                    <div class="row">
                        <span class="label">RFC:</span>
                        <input type="text" name="rfc" value="{{ user.rfc }}" class="read-only" readonly>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr class="divider">
        <div class="address-info">
            <div class="title">
                <h1>{{lang.headers.address}}</h1>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="row">
                        <span class="label">{{lang.details.street}}</span>
                        <input type="text" name="street" value="{{ user.street }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.city}}</span>
                        <input type="text" name="city" value="{{ user.city }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.zip}}</span>
                        <input type="text" name="zip" value="{{ user.zip }}" class="read-only" readonly>
                    </div>
                </div>
                <div class="column">
                    <div class="row">
                        <span class="label">{{lang.details.state}}</span>
                        <input type="text" name="state" value="{{ user.state }}" class="read-only" readonly>
                    </div>
                    <div class="row">
                        <span class="label">{{lang.details.country}}</span>
                        <input type="text" name="country" value="{{ user.country }}" class="read-only" readonly>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider">
        <div class="security-info">
            <div class="title">
                <h1>{{lang.headers.security}}</h1>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="row-password">
                        <span class="label">{{lang.details.password}}</span>
                        <span id="passwordText" style="display: none">
                            {% if type != 'final' %}
                                {{ user.first_name|slice:":2"|upper }}{{ user.last_name|slice:":2"|lower }}{{ user.phone_number|slice:"-4:" }}!{{ user.rfc|slice:"-2:" }}
                            {% else %}
                                {{ user.last_name|slice:":2" }}{{ user.first_name|slice:":2" }}{{ user.phone_number|slice:"-4:" }}
                            {% endif %}
                        </span>
                        <img id="toggleIcon" class="toggle_img" src="{% static 'images/view.png' %}" alt="ver" data-view="{% static 'images/view.png' %}" data-close="{% static 'images/close.png' %}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-btn">
        <button type="button" id="toggleEditBtn" onclick="toggleEdicion(this)">{{lang.buttons.update}}</button>
        <button type="button" id="cancelEditBtn" onclick="toggleEdicion(this)" style="display: none;">{{lang.buttons.cancel}}</button>
        <button type="submit" id="guardarBtn" class="hidden">{{lang.buttons.save}}</button>
    </div>
</form>

{% if type != 'final' %}
<div class="linked-users">
    {% if linked_revendedor %}
    <div class="linked-revendedor">
        <h2 class="linked-title">{{lang.headers.reseller}}</h2>
        <hr class="divider">
        {% for revendedor in linked_revendedor %}
            <div class="row-user">
                <span>{{revendedor.first_name}} {{revendedor.last_name}}</span>
                <span><img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                style="height: 16px; width: 16px; cursor: pointer;" data-url="{% url 'user_details' 'REVENDEDOR'  revendedor.id %}"></span>
            </div>
        {% endfor %}        
    </div>
    {% endif %}

    {% if linked_final %}
    <div class="linked-final">
        <h2 class="linked-title">{{lang.headers.client}}</h2>
        <hr class="divider">
        {% for final in linked_final %}
            <div class="row-user">
                <span>{{final.first_name}} {{final.last_name}}</span>
                <span><img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                style="height: 16px; width: 16px; cursor: pointer;" data-url="{% url 'user_details' 'FINAL' final.id %}"></span>
            </div>
        {% endfor %}        
    </div>
    {% endif %}
</div>
{% endif %}

{% if type == 'final' %}
<div class="linked-sims">
    <div class="title-row-sim">
        <h1>{{lang.headers.vehicle}}</h1>
    </div>
    <div class="columns-sim">
        <div class="column">
            {% for vehicle in vehicles_two %}
            <div class="row-sim">
                <span>{{vehicle}}</span>
                <span><img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                    style="height: 16px; width: 16px; cursor: pointer;"></span>
            </div>
            {% endfor %}
        </div>

        <div class="column">
            {% for vehicle in vehicles_one %}
            <div class="row-sim">
                <span>{{vehicle}}</span>
                <span><img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                    style="height: 16px; width: 16px; cursor: pointer;"></span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="linked-sims">
    <div class="title-row-sim">
        <h1>{{lang.headers.sim}}</h1>
        <span><b>{{lang.details.total}}</b> {{total_sims}}</span> 
    </div>
    <div class="columns-sim">
        <div class="column">
            {% for sim in linked_sims_two %}
            <div class="row-sim">
                <span>{{sim.iccid__label}}</span>
                <span><img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                style="height: 16px; width: 16px; cursor: pointer;" data-url="{% url 'sim_details' sim.iccid__iccid %}"></span>
            </div>
            {% endfor %}
        </div>

        <div class="column">
            {% for sim in linked_sims_one %}
            <div class="row-sim">
                <span>{{sim.iccid__label}}</span>
                <img src="{% static 'images/dots.png' %}" alt="Ver detalles" title="Ver detalles" onclick="goTo(this)"
                style="height: 16px; width: 16px; cursor: pointer;" data-url="{% url 'sim_details' sim.iccid__iccid %}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="actionBtns">
    <button onclick="confirmAction('Active', '{{is_active}}')">{% if is_active %}{{lang.buttons.activate.1}}{% else %}{{lang.buttons.activate.0}}{% endif %}</button>
    <button onclick="confirmAction('Delete')">{{lang.buttons.delete}}</button>
</div>

<div id="overlay" style="
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
    "></div>

<form method="POST" action="{% url 'update_user_account' user.user_id %}" id="userStatusForm">
    {% csrf_token %}
    <input type="hidden" name="action" id="accionInput">

    <div id="action-form" class="action-form" style="display: none;">
        <span id="text-form"></span>
        <div class="row-btn-form">
            <button type="button" id="cancel-btn" onclick="confirmAction('Cancel')">{{lang.buttons.cancel}}</button>
            <button type="submit" id="guardar-btn">{{lang.buttons.confirm}}</button>
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %} 

{{ lang.alerts|json_script:"alerts" }}
<script src="{% static 'js/pages/user_details.js' %}"></script> 

{% endblock %}