{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {{lang.register_hd}} {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/forms/create_form.css' %}?v=1.2"> {% endblock %}

{% block content %}

<div class="title">
    <h1>{{lang.register_hd}}</h1>
</div>

<form method="post" id="form" style="width: 70%; display: flex; justify-content: center;">
    {% csrf_token %}

    <div class="form">
        <div class="card">
            <div class="card-title">
                <h2>{{lang.data}}</h2>
                <h5>{{lang.required}}</h5>
            </div>
            <div class="row-half">
                {{form.first_name}}
                {{form.last_name}}
            </div>
            <div class="row-complete">
                {{form.email}}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="row-half">
                {{form.dial}}
                {{form.phone_number}}
                {% for error in form.phone_number.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="row-half">
                {% if form.rfc %}
                    {{form.rfc}}
                {% endif %}
                {{form.company}}
            </div>
        </div>

        <div class="card">
            <div class="card-title">
                <h2>{{lang.address}}</h2>
            </div>
            <div class="row-complete">
                {{form.street}}
            </div>
            <div class="row-half">
                {{form.city}}
                {{form.state}}
            </div>
            <div class="row-half">
                {{form.zip}}
                {{form.country}}
            </div>
            <div class="buttons">
                <button id="cancel" type="button">{{lang.btn_cancel}}</button>
                <button id="create" type="submit">{{lang.btn_add}}</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %}

<script src="{% static 'js/pages/forms/create_form.js' %}"></script>

{% endblock %}