nav {
    z-index: 1000;
    background: var(--nav-color);
    border-radius: 0 0 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    box-shadow: 0px 5px var(--shadow-color);
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

button,
.clickable {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active,
.clickable:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px var(--shadow-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul.nav-links li {
    background: transparent;
    padding: 0.7rem 1.5rem;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul.nav-links .active,
nav ul.nav-links li:hover {
    background: var(--primary-color);
    color: #fff;
    height: 75px;
}

nav div.logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--background-color);
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    background-color: var(--background-color);
}

.hamburger {
    display: none;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.4s;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.nav-session {
    position: relative;
    display: inline-block;
}

.nav-session-btn {
    background: var(--primary-color);
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.nav-session-btn:hover {
    background: var(--primary-color-hover);
}

.nav-session-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-width: 180px;
    box-shadow: 0px 2px var(--shadow-color);
    z-index: 100;
}

.nav-session-menu li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.nav-session-menu li:hover {
    background: var(--input-color);
}

.nav-session-menu li:nth-child(1) {
    user-select: none;
    cursor: default;
    background-color: var(--background-color);
}

.submenu li:nth-child(1) {
    cursor: pointer;
    background-color: white;
    user-select: auto;
}

.submenu {
    display: none;
    position: absolute;
    left: -95%;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 2px var(--shadow-color);
}

.submenu li {
    padding: 8px 12px;
    font-size: 14px;
}

.submenu li:hover {
    background: var(--input-color);
}

@media (max-width: 900px) {
    .logo-img {
        height: 40px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 1rem;
        z-index: 1001;
    }

    nav ul.nav-links {
        display: none;
        flex-direction: column;
        background: var(--background-color);
        width: 100%;
        padding: 1rem 0;
        box-shadow: none;
        z-index: 1000;
    }

    nav ul.nav-links li {
        padding: 0;
    }

    nav ul {
        gap: 1rem;
    }

    nav ul li {
        padding: 1rem;
        text-align: center;
        width: 100%;
    }

    nav ul.nav-links .active,
    nav ul.nav-links li:hover {
        height: 30px;
        border-radius: 0;
        box-shadow: none;
    }

    .menu-wrapper {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        margin: 0;
        background: var(--nav-color);
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 5px var(--shadow-color);
        z-index: 1000;
    }

    .menu-wrapper.show {
        display: flex;
    }

    .menu-wrapper.show .nav-links,
    .menu-wrapper.show .nav-session {
        display: flex;
    }

    .menu-wrapper.show .nav-links {
        border-bottom: 1px solid var(--shadow-color);
        border-radius: 0;
    }

    .nav-session-btn {
        display: none;
    }

    .nav-session-menu {
        display: none;
        position: static;
        background: white;
        flex-direction: row;
        z-index: 100;
        width: 100%;
    }

    .nav-session-menu li:nth-child(1) {
        display: none;
    }

    .submenu {
        display: none;
        position: static;
        background: white;
        border: 1px solid #ddd;
        border-radius: 6px;
        min-width: fit-content;
    }

    .submenu li {
        margin: 0;
        width: 95%;
    }

    .submenu li:nth-child(1) {
        display: block;
    }

    .nav-session li {
        background: transparent;
        padding: 0.5rem;
        box-shadow: none;
    }


    .nav-session {
        box-shadow: none;
        background-color: #fff;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}