{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/layouts/colors.css' %}?v=1.0">
        <link rel="stylesheet" href="{% static 'styles/layouts/base.css' %}?v=3.2" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        {% block styles %} {% endblock %}
    </head>

<body>
    <nav id="navbar">
        <div class="logo">
            <img class="logo-img" src="{% static 'images/Logo.webp' %}" alt="Logo" height="40px"
            onclick="goTo(this)" data-url="{% url 'dashboard' %}" style="cursor: pointer;">
        </div>

        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="menu-wrapper">
            <ul class="nav-links">
                <li class="{% if request.path == '/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'dashboard' %}">
                    {{base.dashboard}}
                </li>
                <li class="{% if request.path == '/mis-sim/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'get_sims' %}">
                    {{base.sims}}
                </li>
                <li class="{% if request.path == '/configuracion/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'configuration' %}">
                    {{base.configuration}}
                </li>
                <li class="{% if request.path == '/usuarios/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'get_users' %}">
                    {{base.users}}
                </li>
                {% if request.user.user_type == 'MATRIZ' %}
                <li class="{% if request.path == '/administration/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'admin' %}">
                    {{base.admin}}
                </li>
                {% endif %}
            </ul>

            <ul class="nav-session">
                <li class="nav-session-btn" onclick="toggleSessionMenu()">
                    <img src="{% static 'images/user.webp' %}" alt="User icon" style="width: 1.5rem; height: 1.5rem; user-select: none;">
                </li>
                <ul class="nav-session-menu" id="sessionMenu">
                    <li><b>{{request.user.first_name}} {{request.user.last_name}} ({{request.user.user_type}})</b></li>
                    <li onclick="toggleLanguageMenu(event)">{{base.language}}
                        <ul class="submenu" id="langMenu">
                            <li onclick="setLanguage('es')">Español</li>
                            <li onclick="setLanguage('en')">English</li>
                            <li onclick="setLanguage('pt')">Português (Brasil)</li>
                        </ul>
                    </li>
                    <li onclick="goTo(this)" data-url="{% url 'logout' %}">{{base.logout}}</li>
                </ul>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <div id="overlay" class="overlay">
        <p id="overlay-text">{{base.overlay}}</p>
    </div>
</body>
    {% block scripts %} {% endblock %}
</html>

<script src="{% static 'js/pages/layouts/base.js' %}"></script>