{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/layouts/colors.css' %}?v=1.0">
        <link rel="stylesheet" href="{% static 'styles/layouts/base.css' %}?v=3.2" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        {% block styles %} {% endblock %}
    </head>

<body>
    <nav id="navbar">
        <div class="logo">
            <img class="logo-img" src="{% static 'images/Logo.webp' %}" alt="Logo" height="50px">
        </div>

        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="menu-wrapper">
            <ul class="nav-links">
                <li class="{% if request.path == '/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'dashboard' %}">
                    Panel
                </li>
                <li class="{% if request.path == '/mis-sim/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'get_sims' %}">
                    Mis SIMs
                </li>
                <li class="{% if request.path == '/usuarios/' %}active{% endif %}"
                    onclick="goTo(this)" data-url="{% url 'get_users' %}">
                    Usuarios
                </li>
            </ul>

            <ul class="nav-session">
                <li class="clickable" onclick="goTo(this)" data-url="{% url 'logout' %}">
                    Cerrar Sesión
                </li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <div id="overlay" style="
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
    ">
        <p id="overlay-text">Procesando, por favor espera...</p>
    </div>
</body>
    {% block scripts %} {% endblock %}
</html>

<script src="{% static 'js/pages/layouts/base.js' %}"></script>