.monthly-limits {
    height: fit-content;
}

header h1 {
    margin-left: 2rem;
    font-size: 1.5rem;
}

h3 {
    margin: 0.5rem 0;
}

p {
    margin: 0.5rem 0;
}

.row {
    margin: 0 0 2rem;
    width: 90%;
}

select:focus {
    outline: none;
}

button {
    height: 2rem;
    border: none;
    width: 5rem;
    text-align: center;
    font-size: medium;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color-hover);
}

@media (max-width: 900px) {
    .monthly-limits {
        width: 80%;
        padding: 1rem;
        box-shadow: none;
    }

    header h1 {
        margin-left: 1rem;
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .row {
        flex-direction: column;
    }

    header h3 {
        font-size: 0.9rem;
    }

    select {
        height: 2rem;
        width: 10rem;
        font-size: 0.8rem;
    }
}