.detail-block {
    width: 90%;
    margin: 3.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.sim-details,
.network-details,
.assignation-details {
    padding: 20px;
    justify-content: center;
    text-align: left;
}

.title-row {
    margin: 0.5rem 5%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title-row-network,
.title-row-assignation {
    margin-top: 0.5rem;
    margin-left: 10%;
    display: flex;
    align-items: center;
}


.title-row-sim {
    margin: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columns {
    font-size: larger;
    display: flex;
    gap: 2rem;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2rem;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
}

.row {
    display: flex;
    gap: 10px;
    margin: 8px 0;
}

.row-assignation {
    display: flex;
    gap: 10px;
    margin: 8px 0;
    margin-right: 4rem;
    justify-content: space-between;
}

.row-sim:hover {
    background-color: #E6F0FF;
}

.label {
    font-weight: bold;
    display: inline-block;
}

.divider {
    border: none;
    border-top: 5px solid #e6f0ff;
    width: 100%;
    border-radius: 15px;
}

.divider-chart {
    border: none;
    border-top: 5px solid #e6f0ff;
    width: 100%;
    border-radius: 15px;
    margin-top: -0.5rem;
}

.column-usage {
    color: #333;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.column-usage h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.column-usage h4 {
    text-align: left;
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.column-usage .chart {
    height: 300px;
    position: relative;
}

.row-usage {
    height: 425px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin: 4rem;
}