.detail-block {
    width: 60vw;
    margin: 2rem 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px var(--shadow-color);
}

.sim-details,
.network-details,
.assignation-details {
    justify-content: center;
    text-align: left;
}

.title-row {
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    margin: 0.5rem 0 0.25rem;
}

.columns {
    display: flex;
    gap: 1rem;
    width: 95%;
    margin-left: 1rem;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
}

.row {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    align-items: center;
}

.row-assignation {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    justify-content: space-between;
}

.label {
    font-weight: bold;
    display: inline-block;
}

.detail-block span {
    font-size: 90%;
}

.divider {
    border: none;
    border-top: 5px solid var(--nav-color);
    width: 100%;
    border-radius: 15px;
    margin: 0.25rem 0;
}

.edit-label {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.row-usage {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 65%;
}

.column-usage {
    color: var(--text-color);
    background-color: var(--white);
    border-radius: 8px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 45%;
    box-shadow: 0px 5px var(--shadow-color);
}

.title-usage {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    align-items: center;
}

.column-usage h2 {
    margin: 0.25rem 0;
    font-size: 100%;
}

.divider-chart {
    border: none;
    border-top: 5px solid var(--nav-color);
    width: 100%;
    border-radius: 15px;
}

.column-usage h4 {
    text-align: left;
    margin: 0.25rem 1rem;
    font-size: 90%;
}

.chart {
    justify-content: center;
    display: flex;
    height: 25vh;
    width: 100%;
    position: relative;
}


.label-form {
    background-color: var(--background-color);
    border-radius: 8px;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

#drag {
    width: 100%;
    height: 2rem;
    margin: 0;
    cursor: move;
    background-color: var(--nav-color);
    border-radius: 8px 8px 0 0;
}

#content-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0.5rem 1rem;
}

.half-row,
.row-complete,
.row-btn {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: space-between;
    gap: 1rem;
}

.row-complete input,
.half-row input {
    flex: 1
}

#content-form input {
    color: var(--text-color);
    border-radius: 8px;
    padding: 0.75rem 0.5rem;
    font-size: 100%;
    border: var(--primary-color) 1px solid;
    outline: none;
    width: 100%;
}

.refresh-btn {
    width: 14px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button {
    border-radius: 8px;
    width: auto;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 70%;
    padding: 0.5rem 1rem;
}

button:hover {
    background-color: var(--primary-color-hover);
}

#cancel-btn {
    width: 30%;
    background-color: var(--secondary-color);
}

#cancel-btn:hover {
    background-color: var(--secondary-color-hover);
}

.sms-command {
    background-color: var(--white);
    width: 70vw;
    height: 50vh;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 5px var(--shadow-color);
}

.sms-command span {
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 18px;
}

.sms-command input,
.sms-command textarea {
    background-color: var(--input-color);
    padding: 0.5rem;
    outline: none;
    border: none;
    margin: 0.5rem 0 1rem;
    width: 45%;
    border-radius: 8px;
    resize: none;
    color: var(--text-color);
    font-family: inherit;
}

.sms-command input:focus,
.sms-command textarea:focus {
    border: 2px solid var(--secondary-color);
}

.sms-command button {
    width: 46.5%;
    padding: 0.5rem;
    justify-content: center;
    margin: 0.5rem 0;
    background-color: var(--secondary-color);
}

.sms-command button:hover {
    background-color: var(--secondary-color-hover);
}

.sms-details {
    width: 72.5vw;
    height: 50vh;
    display: flex;
    background-color: var(--white);
    justify-items: center;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 0 5px var(--shadow-color);
    overflow-y: auto;
}

.sms-details table {
    height: 100%;
    width: 95%;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout: fixed;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 10%;
}

th:nth-child(4) {
    width: 10%;
}

th:nth-child(5) {
    width: 20%;
}

th:nth-child(6) {
    width: 40%;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 2;
}

th {
    text-align: center;
    vertical-align: middle;
    border-bottom: var(--primary-color) solid 5px;
    font-size: 16px;
}

td {
    text-align: center;
    vertical-align: middle;
    border-bottom: var(--primary-color-hover) solid 3px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 14px;
}