.details-container {
    width: 60vw;
    margin: 2rem 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px var(--shadow-color);
}

.personal-info,
.address-info,
.security-info {
    justify-content: center;
    text-align: left;
}

.title-row {
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    margin: 0.5rem 0 0.25rem;
}

.columns {
    display: flex;
    gap: 1rem;
    width: 95%;
    margin-left: 1rem;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
}

.row,
.row-password {
    display: flex;
    gap: 0.5rem;
    margin: 0.25rem 0;
    align-items: center;
}

.toggle_img {
    height: 1rem;
    width: auto;
    cursor: pointer;
}

.label {
    font-weight: bold;
    display: inline-block;
    font-size: 90%;
}

.row input {
    background-color: var(--background-color);
    border-radius: 4px;
    font-size: 90%;
    width: 80%;
    pointer-events: auto;
    padding: 4px;
    border: var(--text-color) 1px solid;
}

input.read-only {
    border: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    outline: none;
}

.row input:focus:not([readonly]) {
    border: var(--primary-color) 2px solid;
    outline: none;
}

.row-btn {
    width: 64vw;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.divider {
    border: none;
    border-top: 5px solid var(--nav-color);
    width: 100%;
    border-radius: 15px;
    margin: 0.25rem 0;
}

.linked-users {
    width: 64vw;
    height: 24vh;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.linked-revendedor,
.linked-final {
    color: var(--text-color);
    background-color: var(--white);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
    overflow-y: auto;
    max-height: 24vh;
}

.linked-title {
    margin: 0.25rem 1rem;
    font-size: 100%;
}

.row-user {
    font-size: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.linked-sims,
.linked-vehicle {
    width: 60vw;
    height: 33vh;
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px var(--shadow-color);
    overflow-y: auto;
}

.linked-vehicle {
    height: 15vh;
}

.title-row-sim {
    display: flex;
    width: 95%;
    height: 2rem;
    align-items: center;
    margin: 0.25rem 1rem;
    font-size: 90%;
    justify-content: space-between;
}

.columns-sim {
    display: flex;
    width: 100%;
}

.row-sim {
    font-size: 90%;
    display: flex;
    margin: 0.5rem 1rem;
    width: 85%;
    gap: 1rem;
    padding: 0.25rem 0.5rem;
    justify-content: space-between;
}

.row-sim:hover,
.row-user:hover {
    background-color: var(--input-color);
}

.hidden {
    display: none;
}

.actionBtns {
    width: 64vw;
    display: flex;
    margin: 1rem 0 2rem;
    gap: 4rem;
}

.actionBtns button:first-child {
    background-color: red;
}

.actionBtns button:nth-child(2) {
    background-color: var(--text-color);
    color: red;
}

button {
    padding: 0.5rem 1rem;
    width: fit-content;
    display: flex;
    border: none;
    text-align: center;
    font-size: 90%;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

#cancelEditBtn,
.row-btn-form button:first-child {
    background-color: var(--secondary-color);
}

button:hover {
    opacity: 0.7;
}

.action-form {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 12px;
    width: 33%;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    position: fixed;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

.row-btn-form {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .details-container {
        width: 90%;
        padding: 1rem;
        box-shadow: none;
    }

    .title-row,
    .title-row-sim {
        height: 1.5rem;
        margin: 0.5rem 0;
    }

    .columns {
        gap: 0;
        flex-direction: column;
    }

    .label {
        font-size: 80%;
    }

    .row input {
        font-size: 80%;
    }

    .row-btn {
        width: 90%;
    }

    .linked-users {
        width: 90%;
        height: auto;
        gap: 1rem;
        flex-direction: column;
    }

    .linked-revendedor,
    .linked-final {
        width: 90%;
        max-height: 50vh;
        box-shadow: none;
    }

    .linked-vehicle,
    .linked-sims {
        width: 90%;
        height: 20vh;
        padding: 1rem;
        box-shadow: none;
    }

    .columns-sim {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .row-sim {
        font-size: 70%;
    }

    .actionBtns {
        width: 94%;
        gap: 2rem;
    }

    button {
        font-size: 70%;
    }

    .action-form {
        width: 75%;
        padding: 1rem;
        font-size: 80%;
    }
}