.SIM-Container {
    color: var(--text-color);
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0px 10px var(--shadow-color);
    height: 70vh;
    margin: 1rem 0 2rem;
}

.table {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout: fixed;
}

th:nth-child(1),
td:nth-child(1) {
    width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 8%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 8%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 17.5%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 17.5%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 35%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 10%;
}

td {
    text-align: center;
    vertical-align: middle;
    border-bottom: var(--secondary-color) solid 4px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 2;

}

th {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-bottom: var(--primary-color) solid 5px;
    font-size: 16px;
}

th:hover {
    background-color: var(--background-color);
}

tr.selected {
    background-color: var(--secondary-color);
}

#orderTable #simTbody tr:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.rowCheckbox,
.rowAllCheckbox {
    width: 15px;
    height: 15px;
}

.status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.online {
    background-color: #2FA944;
}

.offline {
    background-color: #FC3FA1;
}

.attached {
    background-color: #F7F791;
}

.custom-pagination {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.showed-rows label,
.showed-rows select {
    margin-right: 0.5rem;
    color: var(--text-color);
}

.showed-rows select {
    border-radius: 16px;
    border: none;
    height: 2rem;
    width: 4rem;
    text-align: center;
    box-shadow: 0 4px var(--shadow-color);
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.refresh-table {
    align-self: flex-start;
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.pagination-controls {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    align-items: center;
}

#prevBtn,
#nextBtn,
#refreshBtn {
    height: 2rem;
    border: none;
    width: 5rem;
    text-align: center;
    font-size: medium;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px var(--shadow-color);
}

#prevBtn:disabled,
#nextBtn:disabled,
#refreshBtn:disabled {
    background-color: #aaa;
}

.filter select {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    height: 3rem;
    text-align: center;
    border-radius: 16px;
    justify-items: center;
    cursor: pointer;
}

select:focus,
#inputFilter:focus {
    outline: none;
}

.filter option {
    background-color: var(--white);
    color: var(--text-color);
}

#inputFilter {
    height: 3rem;
    width: 16rem;
    border: var(--primary-color) 1px solid;
    color: var(--text-color);
    border-radius: 16px;
    font-size: medium;
    padding-left: 1rem;
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

#bottomBarInfo {
    width: 30%;
    min-width: 250px;
    padding-left: 4rem;
}

#topUpSims,
#exportBtn {
    padding: 0.5rem 1rem;
    background: var(--hover-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    height: 3rem;
    box-shadow: 0 4px var(--shadow-color);
}

#configSimBtn {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.button-row {
    display: flex;
    flex-direction: column;
}

#configSimBtn button {
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0 4px var(--shadow-color);
    width: 40%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#configSimBtn button:hover {
    background-color: var(--hover-color);
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

.appear {
    animation: appear 0.3s ease forwards;
}

.disappear {
    animation: disappear 0.3s ease forwards;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .custom-pagination {
        width: 90%;
    }

    .showed-rows label,
    .showed-rows select {
        margin-right: 0;
        font-size: small;
    }

    .filter select {
        height: 2rem;
    }

    #inputFilter {
        height: 2rem;
        width: 16rem;
        border-radius: 12px;
        font-size: small;
        padding-left: 1rem;
    }

    #exportBtn,
    #topUpSims {
        padding: 0.5rem 1rem;
        border-radius: 12px;
        height: 2.5rem;
        font-size: smaller;
        box-shadow: none;
    }

    .SIM-Container {
        padding: 10px;
        width: 80%;
        height: 50vh;
        margin: 1rem 0 2rem;
    }

    table {
        width: 95%;
    }

    tr {
        height: 30px;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 12px;
        border-bottom: var(--secondary-color) solid 2px;
        padding: 0.25rem;
    }

    .rowCheckbox,
    .rowAllCheckbox {
        width: 20px;
        height: 20px;
    }

    .status-circle {
        width: 15px;
        height: 15px;
    }

    .pagination-controls span {
        font-size: small;
    }

    #prevBtn,
    #nextBtn,
    #refreshBtn {
        height: 1.5rem;
        width: 5rem;
        font-size: 12px;
        border-radius: 8px;
        box-shadow: none;
    }

    .bottom-bar {
        flex-direction: row;
        padding: 1rem 2rem;
    }

    .bottom-bar span {
        font-size: small;
    }

    #bottomBarInfo {
        width: 35%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    #configSimBtn {
        display: flex;
        padding-left: 2rem;
        justify-content: center;
        width: 55%;
    }

    #configSimBtn button {
        width: 90%;
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .custom-pagination {
        width: 90%;
    }

    .filter select {
        height: 2rem;
        border-radius: 16px;
    }

    #inputFilter {
        height: 2rem;
        width: 12rem;
        font-size: smaller;
        padding-left: 0.5rem;
    }

    #exportBtn,
    #topUpSims {
        padding: 0.5rem 1rem;
        border-radius: 12px;
        height: 2rem;
        font-size: x-small;
        box-shadow: none;
    }

    .SIM-Container {
        padding: 10px;
        width: 90%;
        height: 50vh;
        margin: 1rem 0 2rem;
    }

    table {
        width: 95%;
    }

    tr {
        height: 45px;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 11px;
        border-bottom: var(--secondary-color) solid 2px;
        padding: 0.25rem;
    }

    .rowCheckbox,
    .rowAllCheckbox {
        width: 18px;
        height: 18px;
    }

    .status-circle {
        width: 13px;
        height: 13px;
    }

    .pagination-controls span {
        font-size: small;
    }

    #prevBtn,
    #nextBtn,
    #refreshBtn {
        height: 1.5rem;
        width: 5rem;
        font-size: 12px;
        border-radius: 8px;
        box-shadow: none;
    }

    .bottom-bar {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .bottom-bar span {
        font-size: 12px;
    }

    #bottomBarInfo {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    #configSimBtn {
        padding-left: 2rem;
    }

    #configSimBtn button {
        width: 80%;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 700px) {
    .custom-pagination {
        width: 90%;
    }

    .showed-rows span {
        font-size: 10px;
    }

    .showed-rows select {
        height: 1.5rem;
        font-size: 10px;
    }

    .filter select {
        height: 1.5rem;
    }

    #inputFilter {
        height: 1.5rem;
        width: 8rem;
        font-size: 10px;
        padding-left: 0.5rem;
    }

    #exportBtn,
    #topUpSims {
        padding: 0 0.5rem;
        border-radius: 12px;
        height: 1.5rem;
        font-size: 8px;
        box-shadow: none;
    }

    .SIM-Container {
        padding: 8px;
        width: 90%;
        height: 50vh;
        margin: 1rem 0 2rem;
    }

    table {
        width: 100%;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 4%;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 6.75%;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 6.75%;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 16.75%;
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 16.75%;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 30%;
    }

    th:nth-child(7),
    td:nth-child(7) {
        width: 10%;
    }

    tr {
        height: 30px;
    }

    th {
        font-size: 6px;
        border-bottom: var(--primary-color) 2px solid;
    }

    td {
        font-size: 6px;
        border-bottom: var(--secondary-color) solid 2px;
        padding: 0.25rem;
    }

    .rowCheckbox,
    .rowAllCheckbox {
        width: 12px;
        height: 12px;
    }

    .status-circle {
        width: 6px;
        height: 6px;
    }

    .pagination-controls span {
        font-size: 8px;
    }

    #prevBtn,
    #nextBtn,
    #refreshBtn {
        height: 1rem;
        width: 3rem;
        font-size: 8px;
        border-radius: 8px;
        box-shadow: none;
    }

    .bottom-bar {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .bottom-bar span {
        font-size: 8px;
    }

    #bottomBarInfo {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    #configSimBtn {
        width: 80%;
        padding-left: 1rem;
    }

    #configSimBtn button {
        width: 90%;
        padding: 0;
        font-size: 10px;
        height: 1.5rem;
    }
}